body.printable{
	margin:0 !important;
	padding:0 !important;
}

body.printable .masthead{
	display:none !important;
}

.x-btn-blue{
    color: #fff !important;
    border-color: #0445a5 !important;
    background-color: #2980b9 !important;
}

.x-btn-blue:hover{
	color: #fff !important;
    border-color: #0c3356 !important;
    background-color: #215d99 !important;
}

.x-navbar {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.133);
}

.x-navbar, .x-navbar .sub-menu {
    background-color: hsl(0,0%,100%) !important;
}

.entry-wrap-list .entry-column-left,
.entry-wrap-list .entry-column-right{
	float:left;
	width:50%;
}

.entry-wrap-list .entry-column-left{
	width:40%;
}

.entry-wrap-list .entry-column-right{
	width:60%;
	padding:0 0px 0px 25px;
}

.entry-wrap-list .entry-featured{
	margin-top:0 !important;
}

.featured-post .wp-post-image{
	-webkit-filter: brightness(50%); 
	border-radius:5px;
}

.featured-post:hover .wp-post-image{
	-webkit-filter: brightness(100%); 
}


.featured-post-left{
	float:left;
	width:50%;
	padding-right:2px;
}

.featured-post-right{
	float:left;
	width:50%;
	padding-left:2px;
}

.featured-post-left .wp-post-image{
	height:405px;
	object-fit: cover;
}

.featured-post-right .wp-post-image{
	height:200px;
	object-fit: cover;
}

.featured-post{
	position: relative; 
	width: 100%; /* for IE 6 */
}

.featured-post-content h2 { 
	font-weight:400;
	font-size:25px;
}

.featured-post-content h2 a{ 
	color:white;
}

.featured-post-content .p-meta{ 
	color:white;
}

.featured-post-left .featured-post-content{
	position:absolute;
	top:200px;
	width:100%;
	padding:30px;
}

.featured-post-right .featured-post-content{
	position:absolute;
	top:30px;
	width:100%;
	padding:30px;
}

.featured-post-left .featured-post{
	margin-top:5px;
}

/* property listing */
/* .property-search-form{
	position:absolute;
	z-index:9999999;
	left:50%;
	top:20px;
} */

.property-search-form{
	padding:10px;
}

.property-search-form.affix{
	position:fixed;
	margin-top:0px;
	z-index:9999999999;
}

.epl-search-forms-wrapper.epl-search-default{
	width:80%;
	margin-left:10%;
	max-width:100%;
}

.property-search-form .epl-search-row{
	float:left;
	width:150px;
	margin-left:10px;
}

.property-search-form .epl-search-row label{
	font-size:14px;
}

.epl-search-btn{
	height: 37px;
    margin-top: 20px;
    font-size: 14px !important;
}

.property-search-form .epl-search-submit-row{
	float:left;
	width:150px;
	margin-left:20px;
}

/* listing */
#column-map{
	width:57%;
	margin:0%;
	padding-top: 0;
    overflow-y: hidden;
    left: 0;
    position: absolute;
    margin: auto;
    height: auto;
    top: 90px;
    bottom: 0;
}

#column-property-list{
	width:43%;
	padding-top: 0;
    overflow-y: auto;
    right: 0;
    position: absolute;
    margin: auto;
    height: auto;
    top: 130px;
    bottom: 0;
}

.list-title{
	position:absolute;
	right:0;
	display:block;
	width:43%;
	padding-left:30px;
	font-weight:bold;
	font-size:20px;
}

.epl-property-blog .epl-property-blog-entry-wrapper{
	margin: 1px;
    box-shadow: 0 0 1px #e2e2e2;
}

.epl-property-blog:hover .epl-property-blog-entry-wrapper{
	background-color:#efefef;
}

.epl-property-blog-slim .property-box-right{
	padding-top:10px;
}

.page-price-prefix{
	display:none;
}

.page-price{
	font-weight:bold;
	font-size:20px;
}

.featured-post-right .featured-post{
	margin-top:5px;
	margin-bottom:5px;
}

/* single property */
.property-single-container{
	width:70%;
	margin-left:15%;
	margin-top:50px;
}

body.printable .property-single-container{
	width:100%;
	margin:0;
}

.property-slider.with-container{
	height:500px;
	padding:0;
	border:0;
	margin-bottom:30px;
}

.property-slider .x-slide img{
	height:500px;
	object-fit:cover;
}

.property-details{
	width:63% !important;
	margin:0% !important;
}

.property-title{
	margin-top:0;
}

.property-contact-sidebar{
	width:35% !important;
	margin:0;
	margin-left:2%;
	margin-top:10px;
	background-color:#f7faff;
	height:100%;
	padding:20px;
	border-radius:10px;
}

body.printable .property-details,
body.printable .property-contact-sidebar{
	width:80% !important;
	margin-left:10% !important;
}

.property-contact-information.widget_text p{
	margin-bottom:0;
	margin-top:20px;
	text-align:center;
}

.property-contact-information.widget_text img{
	margin-bottom:5px;
	text-align:center;
	
}

.property-contact-information.widget_text h4{
	margin-top:10px;
	text-align:center;
}

.property-contact-information .widgettitle{
	font-size:20px;
	text-align:center;
}

.property-contact-information.widget_text .contact-info{
	width:60%;
	margin-left:20%;
}

.image-gallery{
	margin-top:40px;
	margin-bottom:40px;
}

.image-gallery-item{
	float:left;
	width:50%;
	padding:10px;
}

.image-gallery-item img{
	height:300px;
	object-fit:cover;
}



.white-popup {
	position: relative;
	background: #FFF;
	padding: 40px 0px 15px 0px;
	height:auto;
	min-height:300px;
	width: 65%;
	margin: 20px 17.5%;
	border-radius:15px;
	overflow-y:hidden;
}

.white-popup .body{
	margin:0 auto;
	width:80%;
	margin-left:10%;
	padding-top:30px;
	padding-bottom:40px;
}

@media (max-width: 767px){
	
	.entry-wrap-list .entry-column-left{
		width:100%;
	}

	.entry-wrap-list .entry-column-right{
		width:100%;
	}
	
	
	.featured-post-left,
	.featured-post-right{
		float:none;
		width:100%;
		padding-right:0px;
	}
	
	.featured-post-left .wp-post-image{
		height:200px;
	}

	.featured-post-left .featured-post-content{
		top:30px;
		width:100%;
		padding:30px;
	}
	
}